div {
    font-family: Linux Libertine;
    font-size: medium;
    counter-reset: heading;
    text-align: justify;
    hyphens: auto;
}

h2.enum:before {
    content: counter(heading)". ";
    counter-increment: heading;
}
h2.enum {
    counter-reset: subheading;
}
h3.enum:before {
    content: counter(heading)"." counter(subheading)". ";
    counter-increment: subheading;
}
h3.enum {
    counter-reset: subsubheading;
}
h4.enum:before {
    content: counter(heading)"." counter(subheading)"." counter(subsubheading)". ";
    counter-increment: subsubheading;
}
h4.enum {
    counter-reset: paragraph;
}

h1, h2, h3 {
    text-align: center;
}

.toc ol {
    list-style: none; 
    counter-reset: li; 
    }
.toc ol li:before {
    counter-increment: li; 
    content: counters(li,".") ". "; 
}

p {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

a[href^=http]:after {
    content:" <" attr(href) ">";
}

clearpage { 
    page-break-before: always; 
}

img {
    align-self: center;
}